{# empty Twig template #}

<div class="container"> 
    <div class="col-md-6 col-sm-6">
        <img class="img-responsive" src="images/logo-web.png" />
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="footer-comment">
        <strong>Deze site is een demo-site !!<br>
        Aankopen zullen niet werwerkt worden<br>
        </strong>
        </div>
    </div>
    </div>