{# footer.twig #}

<div class="container container-xs-height"> 
    <div class="row row-xs-height">
            <div class="col-xs-4 col-xs-height">
        <h3>Layout</h3>
            <ul>
                <li>HTML5 &amp; CSS3</li>
                <li>Bootstrap</li>
                <li>Twig</li>
                <li>JQuery</li>
            </ul>
           </div>
            <div class="col-xs-4 col-xs-height">
            <h3>Technologie</h3>
            <ul>
                <li><a href="http://www.php.net">PHP 5.5</a>
                <li><a href="http://www.mysql.com">MySQL</a>
                <li><a href="http://www.doctrine-project.org/">Doctrine</a>
                <li><a href="http://git-scm.com/">Git</a> (<a href="https://github.com/BPlaetevoet/PHP-Bookshop">repository</a>)
            </ul>
            </div>
            <div class="col-xs-4 col-xs-height">
            <h3>Credits</h3>
            <address>
                <ul>
                    <li>Bart Plaetevoet
                    <li>Dekemelelaan 29
                    <li>8904 Boezinge
                </ul>
            </address>
            <nav>
                <ul id="social-networking">
                    <a href="https://twitter.com/BPlaetevoet"><li class="twitter"></li></a>
                    <a href="https://www.facebook.com/bart.plaetevoet"><li class="facebook"></li></a>
                    <a href="http://be.linkedin.com/pub/bart-plaetevoet/95/8b2/921"><li class="linkedin"></li></a>
            </ul>
        </nav>
            </div>
        </div>
    </div>
<div class="demo-warning">Deze site is een demo-site. Aankopen zullen niet verwerkt worden !!</div>