{# empty Twig template #}

<div class="container container-xs-height"> 
    <div class="row row-xs-height">
            <div class="col-xs-4 col-xs-height">
        <h3>Layout</h3>
            <ul>
                <li>HTML5 &amp; CSS3</li>
                <li>Bootstrap</li>
                <li>Twig</li>
                <li>JQuery</li>
            </ul>
           </div>
            <div class="col-xs-4 col-xs-height">
            <h3>Technologie</h3>
            <ul>
                <li><a href="">PHP 5.5</a>
                <li><a href="">MySQL</a>
                <li><a href="">Doctrine</a>
                <li><a href="">Git</a> (<a href="">repository</a>)
            </ul>
            </div>
            <div class="col-xs-4 col-xs-height">
            <h3>Credits</h3>
            <address>
                <ul>
                    <li>Bart Plaetevoet
                    <li>Dekemelelaan 29
                    <li>8904 Boezinge
                </ul>
            </address>
            <nav>
                <ul id="social-networking">
                    <a href="twitter.com"><li class="twitter"></li></a>
                    <a href="facebook.com"><li class="facebook"></li></a>
                    <a href="linkedin.com"><li class="linkedin"></li></a>
            </ul>
        </nav>
            </div>
        </div>
    </div>