{# empty Twig template #}

<div class="container"> 
    <div class="col-md-6 col-sm-6">
        <img class="img-responsive" src="images/logo-web.png" />
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="footer-comment">
        <strong>Deze site is een demo-site !!<br>
        Aankopen zullen niet werwerkt worden<br>
        </strong>
            <ul id="social-networking">
                <li class="twitter"><a href="http://twitter.com/Bplaetevoet"></a></li>
                <li class="facebook"><a href="http://facebook.com/Bart.Plaetevoet"</a></li>
                <li class="linkedin"><a href="#"></a></li>
            </ul>
        </div>
    </div>
    </div>