/* 
    Document   : bookshop
    Created on : May 14, 2014, 12:28:54 PM
    Author     : User_2
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    height:100%;
}
ul {
    padding:0;
}
td {
    padding: 5px;
}
tr {
    border-top: 1px solid #a6e1ec;
}
root { 
    display: block;
}
.container{
    width:95%;
    margin: 0 auto;
    clear:both;
}
#site-content{
    min-height:100%;
    position: relative; 
}
/*************************** header specifiek ************************/
.headerform, .cart {
    position: relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    margin-top:-1px;
    border-top: none;
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 5px 5px;
    color: #fff;
    overflow: auto;
}
.cart a:hover{
    text-decoration: none;
    color:#fff;
}
.cart table {
    margin-right: 5px;
    float: right;
}
html.no-js #js_warning {
    background-color: red;
    width : 100%;
    height : 2.5em;
    text-align: center;
}
html.js #js_warning{
    display:none;
    visibility:hidden;
}
.top-page {
    position :fixed;
    width : 100%;
    background-color: #3071a9;
    z-index:1000;
    color: #fff;
}
.top-page a {
    color:#fff;
}
.top-page a:hover{
    color:#3071a9;
}
.header-items {
    background-image: url('../../images/Bookshelf.jpg');
    padding-top: 3em;
}
.well {
    background-color: rgba(0,0,0,0.5);
    border-top: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    color: #fff;
}
.well input{
    color:black;
}
.headerform{
    margin-top:-1px;
    border-radius: 0 0 5px 5px;
}
.nav-tabs {
    border-bottom: none;
}
.navbar-toggle{
    float:none;
}
/***************************Main content*****************************/

#main-content{ 
    overflow:auto;
    line-height: 1.42857;
    padding-bottom: 220px;
}
.site_pad{
    padding: 15px;
    border-bottom: 1px dotted darkslategray;
    margin-bottom: 10px;
}
.prijstabel {
    text-align: right;
}



.fake-btn {
    color: #fff;
    background-color: #C0C0C0;
    border-color: #C6C6C6;
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0px;
    font-size:14px;
    vertical-align:middle;
    border-radius:4px;
}
.sidemenu ul {
    padding:0;
    margin:0;
    overflow: auto;
}
.list-group-item{
    overflow: hidden;
}
.boeken {
    background-image: url('../../images/bookshelf.jpg');
   
}
.films {
    background-image: url('../../images/filmslist.jpg');
}
.boeken, .films {
    font-family: league-gothic, sans-serif;
    margin:20px 0;
    padding: 50px;
    background-size: 1600px 200px;
    width:100%;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size:4em;
    text-align: center;
}

.product-lijst li {
    padding: 5px 0px;
    list-style-type: none;
    clear: left;
}
ul li.product-lijst:nth-child(odd){
    background-color: #d9edf7;
    overflow:auto;
}
/************************ Footer ************************/
#footer{
    position: absolute;
    bottom: 0px;
    left: 0px;        
    margin-top: -150px;
    width: 100%;
    height: 200px;
    background-color:#282828;
    color: white;
}
.demo-warning{
    background-color: red;
    padding:5px;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#footer h3{
    color:whitesmoke;
    font-weight: bold;
}
#footer li{
     list-style-type:none;
}
#footer li a {
    text-decoration: none;
    color:white;
}
#footer li a:hover{
    text-decoration:none;
    color:#3071a9;
}

/* Maakt tabellen dezelfde hoogte in footer */
.container-xs-height{
    display:table;
    padding-left:0px;
    padding-right:0px;
 }
.row-xs-height{
      display:table-row;
}
.col-xs-height{
      display:table-cell;
      float:none;
}

/************************Social networking icons******************************/ 
ul#social-networking a li{
    background-image: url('../../images/social-media-icons.png');
    background-size: 330px 60px;
    height: 30px;
    width: 30px;
   /*  Placing the icons */
    float: right;
    list-style-type: none;
    margin-right: 2%;
    float: left;	
}
ul#social-networking a li.linkedin{background-position: -180px 0;}
ul#social-networking a li.linkedin:hover {background-position: -180px -30px;}

ul#social-networking a li.facebook {background-position: 0px 0px;}
ul#social-networking a li.facebook:hover{background-position: 0 -30px;}

#social-networking a li.twitter{background-position: -240px 0px;}
#social-networking a li.twitter:hover {background-position: -240px -30px;}
/************************** Media-width rules ********************************/
@media(max-width:768px){
    .header-items{
        padding-top: 75px;
    }
    .col-xs-6{
        width:100%;
    }
    aside.sidemenu ul.navigatie li.list-group-item{
        display:inline-block;
        float:left;
        width:33%;
        height: 50px;
        overflow:hidden;
        border-radius: 0;
    }
    aside.sidemenu ul.navigatie li.list-group-item:hover{
        background-color:#3071a9;
        color:white;
    }
    aside.sidemenu ul.navigatie li.list-group-item a{
        display: block;
        height:50px;
    }
    aside.sidemenu ul.navigatie li.list-group-item a:hover{
        color:#fff;
    }
}

@media(min-width:980px){
    .container{
        width:80%;
    }
}

